.slider-item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.slider-item-cover-pic {
  width: 350px;
  height: 250px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 5px;
  margin-top: 5px;
  border-radius: 5px;
}

.slider-item-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #334155;
  font-family: 'Roboto';
  text-align: center;
  margin: 5px;
}

.slider-item-author-name {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #475569;
  font-family: 'Roboto';
  text-align: center;
  margin: 5px;
}

@media screen and (min-width: 1170px) and (max-width: 1300px) {
  .slider-item-cover-pic {
    width: 315px;
    height: 225px;
  }
}

@media screen and (min-width: 1050px) and (max-width: 1169px) {
  .slider-item-cover-pic {
    width: 280px;
    height: 200px;
  }
}

@media screen and (min-width: 910px) and (max-width: 1049px) {
  .slider-item-cover-pic {
    width: 245px;
    height: 175px;
  }
}

@media screen and (min-width: 790px) and (max-width: 909px) {
  .slider-item-cover-pic {
    width: 210px;
    height: 150px;
  }
}

@media screen and (min-width: 600px) and (max-width: 789px) {
  .slider-item-cover-pic {
    width: 175px;
    height: 125px;
  }
}

@media screen and (min-width: 601px) and (max-width: 909px) {
  .slider-item-title {
    font-size: 16px;
    line-height: 20px;
  }

  .slider-item-author-name {
    font-size: 12px;
    line-height: 16px;
  }
}

@media screen and (max-width: 600px) {
  .slider-item-cover-pic {
    width: 140px;
    height: 100px;
  }

  .slider-item-title {
    font-size: 12px;
    line-height: 16px;
  }

  .slider-item-author-name {
    font-size: 10px;
    line-height: 14px;
    margin: 0px;
  }
}

@media screen and (min-width: 420px) and (max-width: 499px) {
  .slider-item-cover-pic {
    width: 175px;
    height: 125px;
  }
}

@media screen and (max-width: 350px) {
  .slider-item-cover-pic {
    width: 105px;
    height: 75px;
  }
}

.slider-item-link {
  text-decoration: none;
}
